@import "/styles/colors.scss";

.title {
  font-family: "Aclonica", sans-serif !important;
  font-size: 48px;
  line-height: 74px;

  color: #5d5fef;
  text-shadow: 0px 1px 15px rgba(108, 204, 228, 0.49);
}

.desc {
  margin: auto;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}

.home {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  background-color: #111111;

  .jumbotron {
    margin-top: -7rem;
    background-image: url("../../assets/png/home-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 650px;
  }

  .wrapCards {
    position: relative;
    overflow: hidden;

    .cards {
      padding: 1rem;
      height: 237px;
      background: #14182c;
      display: grid;
      grid-gap: 1rem;
      place-items: center;
      align-items: center;
    }

    .elipseone {
      position: absolute;
      top: -100%;
      left: -20%;
    }

    .elipsetwo {
      position: absolute;
      top: -20%;
      left: 0%;
    }

    .elipsethree {
      position: absolute;
      top: -100%;
      right: -10%;
    }
  }

  .videoSection {
    background-color: #000;
    min-height: 460px;
    height: auto;
    padding: 7rem 3rem;

    display: grid;
    grid-template-columns: 200px auto 200px;
    gap: 1rem;

    .title {
      color: #fff;
      font-size: 28px;
      font-weight: 700;
      margin-top: 1rem;
    }

    .desc {
      margin-top: 2rem;
      font-size: 16px;
      color: #fff;
      font-weight: 400;
      line-height: 35px;
      max-width: 350px;
      text-align: justify;
    }

    .video {
      background-repeat: no-repeat;
      background-image: url("../../assets/png/video-section.png");
      position: relative;
      height: 310px;

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background: radial-gradient(
          50% 60% at 50% 50%,
          rgba(0, 0, 0, 0) 31.22%,
          #000000 100%
        );
      }
    }
  }

  .gameList {
    overflow: hidden;

    .buttonList {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 1rem;
      row-gap: 2rem;
    }

    .linkItem {
      cursor: pointer;
      padding: 1rem 2.5rem;
      border-radius: 30px;
      color: white;
      font-weight: 700;
      font-size: 22px;
      box-shadow: 0px 0px 4px 4px rgba(11, 206, 255, 0.3);
      transition: all 0.3s ease-in-out;
      background-color: $blue-primary;

      &:hover {
        background-color: $blue-hover-primary;
      }
    }

    .wrapCardGameList {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 2rem;
      column-gap: 1rem;
      z-index: 3;
      position: relative;

      .elipseRed {
        position: absolute;
        height: 200px;
        left: -100%;
        z-index: 0;
      }
      .elipseBlue {
        position: absolute;
        height: 200px;
        left: -20%;
        z-index: 0;
      }

      .cardGameList {
        z-index: 3;
        position: relative;
        background: #111;
        overflow: hidden;
        .overlay {
          height: 417px;
          border-radius: 10px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          transition: all 0.2s ease-in-out;
        }

        .name {
          position: absolute;
          bottom: 0;
          right: 0;
          left: 0;
          padding: 1rem 0 1rem 2rem;
          text-align: left;
          background: rgba(0, 0, 0, 0.69);
          backdrop-filter: blur(30px);
          color: #fff;
          font-size: 22px;
          font-weight: 700;
          transition: all 0.5s ease-in;

          .desc {
            display: none;
          }
        }

        &:hover {
          .overlay {
            filter: blur(40px);
          }
          .name {
            top: 0;
            padding-top: 3rem;
            transition: all 0.5s ease-out;
            backdrop-filter: blur(0px);
            background: transparent;

            .desc {
              display: block;
              padding-top: 2rem;
              text-align: left;
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  .news {
    background-image: url("../../assets/png/news-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 500px;
  }
}

@media screen and (min-width: 320px) {
  .home {
    .jumbotron {
      margin-top: -2rem;
      min-height: 350px;
      background-size: cover;
    }

    .cards {
      grid-template-columns: repeat(2, 1fr);

      .item {
        width: 130px;
      }
    }

    .videoSection {
      padding: 3rem 2rem;
      grid-template-columns: 1fr;
    }

    .gameList {
      .buttonList {
        grid-template-columns: repeat(2, 1fr);

        .linkItem {
          border-radius: 20px;
          padding: 0.5rem;
          font-size: 16px;
          height: 40px;
        }
      }

      .wrapCardGameList {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .home {
    .jumbotron {
      margin-top: -7rem;
      min-height: 450px;
      background-position: center top;
    }

    .cards {
      grid-template-columns: repeat(2, 1fr);

      .item {
        width: 180px;
      }
    }

    .videoSection {
      padding: 5rem 3rem;
      grid-template-columns: 1fr;
    }

    .gameList {
      .buttonList {
        grid-template-columns: repeat(4, 1fr);

        .linkItem {
          border-radius: 30px;

          padding: 1rem 0.5rem;
          font-size: 16px;
          height: 60px;
        }
      }

      .wrapCardGameList {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    .jumbotron {
      margin-top: -7rem;
      min-height: 650px;
    }

    .cards {
      grid-template-columns: repeat(4, 1fr);
      .item {
        width: 200px;
      }
    }

    .videoSection {
      padding: 5rem 2rem;
      grid-template-columns: 350px auto 350px;
    }

    .gameList {
      .buttonList {
        grid-template-columns: repeat(4, 1fr);

        .linkItem {
          font-size: 20px;
        }
      }

      .wrapCardGameList {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}
