.navbarRoot {
  height: 113px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(40px);
  position: relative;
  z-index: 9999;

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav {
      margin: auto;
      transition: all 0.2s ease-in-out;

      &.show {
        display: block;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;

        animation-name: open-modal;
        animation-duration: 0.2s;
        animation-timing-function: ease-in-out;

        @keyframes open-modal {
          0% {
            opacity: 0;
            transform: translateY(-1.8em);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }

        ul {
          height: 80%;
          margin-top: 3rem;
          row-gap: 2rem;
          margin: auto;
          display: grid;
          place-content: center;
          color: white;
          text-transform: uppercase;
          text-align: center;
          transition: all 0.2s ease-in-out;

          li {
            font-weight: 600;
            font-size: 18px;
          }
        }
      }

      &:not(.show) {
        max-width: 80%;

        ul {
          display: grid;
          grid-auto-flow: column;
          color: white;
          text-transform: uppercase;
          column-gap: 40px;
          li {
            font-weight: 600;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .navbarRoot {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .navbarRoot {
    height: 113px;
  }
}
